{% extends 'clients/main.html' %}
{% load static %}
{% load humanize %}
{% block title %}Dashboard {% endblock%}
{% block content %}
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">
      {% if messages %}
          {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>


          {% endfor %}
      {% endif %}
      <!-- Left side columns -->
      <div class="col-lg-12">
        <div class="row">

          <!-- Sales Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">

              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item" href="#">Today</a></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div>

              <div class="card-body">
                <h5 class="card-title">Sales <span>| Today</span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-cart"></i>
                  </div>
                  <div class="ps-3">
                    <h6>145</h6>
                    <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                  </div>
                </div>
              </div>

            </div>
          </div><!-- End Sales Card -->

          <!-- Revenue Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card revenue-card">

              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item" href="#">Today</a></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div>

              <div class="card-body">
                <h5 class="card-title">Revenue <span>| This Month</span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-currency-dollar"></i>
                  </div>
                  <div class="ps-3">
                    <h6>$3,264</h6>
                    <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                  </div>
                </div>
              </div>

            </div>
          </div><!-- End Revenue Card -->

          <!-- Customers Card -->
          <div class="col-xxl-4 col-xl-12">

            <div class="card info-card customers-card">

              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item" href="#">Today</a></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div>

              <div class="card-body">
                <h5 class="card-title">Customers <span>| This Year</span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-people"></i>
                  </div>
                  <div class="ps-3">
                    <h6>1244</h6>
                    <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span>

                  </div>
                </div>

              </div>
            </div>

          </div><!-- End Customers Card -->
          
          <!-- Tasks -->
          <div class="col-12">
            <div class="card recent-sales overflow-auto">
              <div class="card-body">
                <h5 class="card-title">Tasks <span>| Today</span></h5>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  you can only see tasks assigned to you and those that are not assigned to any other staff
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <table class="table datatable">
                  <thead>
                    <tr>
                      <th scope="col">Staff</th>
                      <th scope="col">Customer</th>
                      <th scope="col">Task</th>
                      <th scope="col">Date</th>
                      <th scope="col">For AI</th>
                      <th scope="col">Done</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for task in tasks %}
                    <tr>
                      <th scope="row">{{task.staff}}</th>
                      <td>{{ task.customer}}</td>
                      <td><a href="" class="text-primary">{{ task.task|truncatechars:100}}</a></td>
                      <td>{{task.follow_up_date}}</td>
                      <td>{% if task.for_ai_to_do %} Yes {% else %} No {% endif %}</td>
                      <td>{% if task.done %}<span class="badge bg-success">Yes</span> {% else %} <span class="badge bg-danger">No</span> {% endif %}</td>
                    </tr>
                    {% endfor %}
                    
                  </tbody>
                </table>

              </div>

            </div>
          </div><!-- End Tasks -->

          <!-- Customers added today -->
          <div class="col-12">
            <div class="card recent-sales overflow-auto">
              <div class="card-body">
                <h5 class="card-title">Customers Added <span>| Today</span></h5>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  you can only see all customers
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <table class="table datatable">
                  <thead>
                    <tr>
                      <th scope="col">Customer</th>
                      <th scope="col">Phone Number</th>
                      <th scope="col">Funnel Stage</th>
                      <th scope="col">Niche</th>
                      <th scope="col">Refferal Source</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for customer in customers %}
                    <tr>
                      <th scope="row">{{customer.name}}</th>
                      <td>{{ customer.phone_number}}</td>
                      <td><a href="" class="text-primary">{{ customer.funnel_stage }}</a></td>
                      <td>{{customer.niche}}</td>
                      <td>{{customer.refferal_source}}</td>
                    </tr>
                    {% endfor %}
                    
                  </tbody>
                </table>

              </div>

            </div>
          </div><!-- End Customers added today -->

          <!-- customer_messages -->
          <div class="col-12">
            <div class="card recent-sales overflow-auto">
              <div class="card-body">
                <h5 class="card-title">Customer Messages</h5>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  you can only see all customers Messages
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <table class="table datatable">
                  <thead>
                    <tr>
                      <th scope="col">Customer</th>
                      <th scope="col">Phone Number</th>
                      <th scope="col">Message</th>
                      <th scope="col">Date</th>
                      <th scope="col">Replied</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for message in customer_messages %}
                    <tr>
                      <th scope="row">{{message.name}}</th>
                      <td>{{ message.phone_number}}</td>
                      <td><a href="" class="text-primary">{{ message.message|truncatechars:300}}</a></td>
                      <td>{{message.date_sent|timesince}}</td>
                      <td>{% if message.replied %} <span class="badge bg-success">Yes</span> {% else %} <span class="badge bg-danger">No</span> {% endif %}</td>
                    </tr>
                    {% endfor %}
                    
                  </tbody>
                </table>

              </div>

            </div>
          </div><!-- End customer_messages -->

          <!-- Interactions -->
          <div class="col-12">
            <div class="card recent-sales overflow-auto">
              <div class="card-body">
                <h5 class="card-title">Interactions <span>| Today</span></h5>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  you can only see your interactions
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <table class="table datatable">
                  <thead>
                    <tr>
                      <th scope="col">Date</th>
                      <th scope="col">Customer</th>
                      <th scope="col">Summary</th>
                      <th scope="col">Next Step</th>
                      <th scope="col">Next Step Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for interaction in interactions %}
                    <tr>
                      <th scope="row">{{interaction.date_created|date}}</th>
                      <td>{{ interaction.customer}}</td>
                      <td><a href="" class="text-primary">{{ interaction.conversation_summary|truncatechars:100}}</a></td>
                      <td>{{interaction.next_step}}</td>
                      <td>{{interaction.next_step_date}}</td>
                    </tr>
                    {% endfor %}
                    
                  </tbody>
                </table>

              </div>

            </div>
          </div><!-- End Interactions -->

        </div>
      </div><!-- End Left side columns -->

    </div>
  </section>

</main><!-- End #main -->
{% endblock %}